Source: libctapimkt
Priority: optional
Maintainer: Debian-Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
DM-Upload-Allowed: yes
Uploaders: Andreas Tille <tille@debian.org>
Build-Depends: debhelper (>= 6), autotools-dev, d-shlibs (>= 0.38), cdbs
Standards-Version: 3.7.3
Section: libs
Homepage:  http://sourceforge.net/projects/ctapi-mkt
Vcs-Browser: http://svn.debian.org/wsvn/debian-med/trunk/packages/libctapimkt/?rev=0&sc=0
Vcs-Svn: svn://svn.debian.org/svn/debian-med/trunk/packages/libctapimkt/trunk/

Package: libctapimkt0-dev
Section: libdevel
Architecture: any
Depends: libctapimkt0 (= ${binary:Version}), ${devlibs:Depends}
Provides: libctapimkt-dev
Conflicts: libctapimkt-dev
Description: read German Krankenversichertenkarte and eGK
 read German Krankenversichertenkarte and eGK

Package: libctapimkt0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  read German Krankenversichertenkarte and eGK
 read German Krankenversichertenkarte and eGK
