#!/usr/bin/make -f

# include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

pkg=libctapimkt
version=0

## make sure we really use the ctapi.h header file from ctapi-dev package
#makebuilddir::
#	if [ -e ctapi.h ] ; then mv ctapi.h ctapi.h_ ; fi

common-binary-post-install-arch::
	# Call d-shlibmove to comply with library packaging guide
	d-devlibdeps debian/$(pkg)$(version)-dev.substvars \
	             debian/tmp/usr/lib/$(pkg).so
	# /bin/sh debian/debug/
	mkdir -p debian/$(pkg)$(version)-dev/usr/include
	cp -a ctapimkt debian/$(pkg)$(version)-dev/usr/include
	d-shlibmove --commit \
		    debian/tmp/usr/lib/$(pkg).so

clean::
	rm -f debian/$(pkg)$(version)-dev.substvars
#	# revert the rename of the original header file
#	if [ -e ctapi.h_ ] ; then mv ctapi.h_ ctapi.h ; fi

